:root {
    /* Maximum characters per line */
    --base03: #002b36;
    --base02: #073642;
    --base01: #586e75;
    --base00: #657b83;
    --base00-rgb: 101, 123, 131;
    --base0: #839496;
    --base1: #93a1a1;
    --base1-rgb: 147, 161, 161;
    --base2: #eee8d5;
    --base3: #fdf6e3;
    --yellow: #b58900;
    --orange: #cb4b16;
    --orange-rgb: 203, 75, 22;
    --red: #dc322f;
    --red-rgb: 220, 50, 47;
    --magenta: #d33682;
    --violet: #6c71c4;
    --blue: #268bd2;
    --cyan: #2aa198;
    --green: #859900;
    --font-sans: "Helvetica Neue LT Std", "Helvetica Neue", "Gill Sans Regular", "Helvetica Neue", "Rockwell Regular", "Myriad Pro", "Futura", "Helvetica", "Verdana", sans-serif;
    --font-serif: "Sitka Text", "Minion Pro", "Georgia", "Source Serif Pro", serif;

    --font-normal:20px;
    --font-mobile-normal:14px;
    --font-small:0.937rem;
    --font-smaller:0.878rem;
    --font-smallest:0.823rem;

    --h1:3.157rem;
    --h2:2.369rem;
    --h3:1.777rem;
    --h4:1.777rem;
    --h5:1.777rem;
    --h6:1.777rem;

    --h1-weight:300;
    --h2-weight:300;
    --h3-weight:300;
    --h4-weight:400;
    --h5-weight:400;
    --h6-weight:400;

    --line-width:35rem;    

    --background-primary-alt: var(--base2);
    --background-primary: var(--base3);

    --text-normal: var(--base00);
}

body {
    font-family: var(--font-serif);
    font-size: var(--font-normal);
    text-align: justify;
    width: var(--line-width);
    background: var(--background-primary);
}
h1,h2,h3,h4,h5,h6 {
    font-family: var(--font-sans);
    text-align: center;
    font-stretch: condensed;
    color: var(--text-normal);
}
h1 {
    font-size: var(--h1);
    font-weight:var(--h1-weight);
}

h2 {
    font-size: var(--h2);
    font-weight:var(--h2-weight);
}
h3 {
    font-size: var(--h3);
    font-weight:var(--h3-weight);
}
h1,h2,h3,h4,h5,h6 {
    font-size: var(--h4);
    font-weight:var(--h4-weight);
}
.citation strong {
   display: block;
}
